<p style="text-align: center">
<%= image_tag 'job_sakaya_woman.png', class: "img-fluid" %>
</p>
<p style="text-align: center"><%= link_to '<i class="bi bi-bookmark"></i> ボトルキープ！'.html_safe, new_bottle_path, class: 'btn btn-primary' %></p>
